<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div class="container container1">
        <div class="nav">
            <h2 class="col-md-9">好谷29后台管理系统</h2>
            <div class="col-md-2 username">欢迎<%=username%>登录</div>
            <button type="button" class="btn btn-primary col-md-1 exit" data-toggle="modal" data-target="#myModal">退出</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">尊敬的<%=username%>客户</h4>
                        </div>
                        <div class="modal-body">
                            你确定要退出吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary enter">enter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>